<p id="notice"><%= notice %></p>

<h1>Listing Tratments</h1>

<table>
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Patient</th>
      <th>Amount</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tratments.each do |tratment| %>
      <tr>
        <td><%= tratment.doctor %></td>
        <td><%= tratment.patient %></td>
        <td><%= tratment.Amount %></td>
        <td><%= tratment.data %></td>
        <td><%= link_to 'Show', tratment %></td>
        <td><%= link_to 'Edit', edit_tratment_path(tratment) %></td>
        <td><%= link_to 'Destroy', tratment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tratment', new_tratment_path %>
