<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "Rahat complix","#",id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Doctor","#" %></li>
<li><%= link_to "Patient","#" %></li>
<li><%= link_to "Tratment","#" %></li>
<li><%= link_to "Department","#" %></li>
<li><%= link_to "Room","#" %></li>
<li><%= link_to "Room_type","#" %></li>
<li><%= link_to "Reservation","#" %></li>
<li><%= link_to "Bill","#" %></li>
<li><%= link_to "Staff","#" %></li>
</ul>
</nav>
</div>
</header>
